.root {
  :global {
    width: 100%;
    height: 100%;
    font-family: PingFang_REGULAR;
    text-align: left;
    .home_content {
      height: 100%;
      // position: relative;
      .home_content_item_1 {
        height: 100%;
        .entry_header {
          display: flex;
          justify-content: center;
          margin: 30px 0px;
          .header_title {
            // width: 70%;
            // margin-left: 10%;
            span {
              color: black;
              font-size: 1.5rem;
              font-weight: 700;
              text-align: center;
              text-align: left;
              display: inline-block;
              font-family: PingFang_HEAVY;
            }
          }
        }
        .entry_image {
          width: 100%;
          display: flex;
          justify-content: center;
          img {
            width: 100%;
            // margin-left: 10%;
            height: 40%;
          }
        }
      }
      .home_content_item_2 {
        display: flex;
        justify-content: center;
        .home_navigate {
          @media screen and (max-width: 780px) {
            visibility: hidden;
          }
          // width: 20%;
          .home_navigate_content {
            margin-top: 62px;
            display: flex;
            align-items: center;
            flex-direction: column;
            font-family: PingFang_HEAVY;
            font-size: 1rem;
            font-weight: 700;
            .home_navigate_menu {
              width: 140px;
              margin: 0 auto;
              margin-bottom: 20px;
              clear: both;
              :hover {
                cursor: pointer;
              }
              .home_navigate_item {
                word-wrap: break-word;
                direction: rtl;
                float: left;
                position: relative;
                text-align: left;

                &::after {
                  content: '';
                  position: absolute;
                }
                &::after {
                  border-bottom: 2px solid black;
                  left: 51%;
                  right: 51%;
                  bottom: 0px;
                  transition: all 0.2s;
                }
                &:hover::after {
                  left: 0%;
                  right: 0%;
                }
              }
              .home_navigate_active {
                position: relative;

                &::after {
                  content: '';
                  position: absolute;
                }
                &::after {
                  border-bottom: 2px solid black;
                  left: 51%;
                  right: 51%;
                  bottom: 0px;
                  transition: all 0.2s;
                }
                &::after {
                  left: 0%;
                  right: 0%;
                }
              }
            }
          }
        }
        .home_content {
          font-family: PingFang_REGULAR;
          font-size: 1.2rem;
          .home_overview {
            .home_overview_title {
              font-family: PingFang_HEAVY;
            }
            .home_overview_content {
              text-align: justify;
              line-height: 1.6rem;
            }
            .home_overview_supplement {
              margin-top: 20px;
              font-size: 1.2rem;
              font-weight: 700;
              height: auto;
              text-align: left;
              line-height: 40px;
              font-family: PingFang_HEAVY;
            }
          }
          .home_schedule {
            .home_schedule_title {
              font-family: PingFang_HEAVY;
            }
            .home_schedule_content {
              text-align: justify;
              margin-bottom: 20px;
              line-height: 1.5rem;
              :global(.ant-table-cell) {
                font-family: PingFang_REGULAR;
                font-weight: 400;
                font-size: 1rem;
                background: #fff;
                ::before {
                  width: 0px;
                }
              }
              :global(.ant-table-cell::before) {
                width: 0px;
              }
            }
            .home_schedule_table {
              img {
                width: 100%;
                height: 100%;
              }
            }
          }
          .home_link {
            margin-top: 40px;
            .home_link_title {
              font-family: PingFang_HEAVY;
            }
            .home_link_content {
              margin-top: 10px;
              .home_link_outlined {
                display: flex;
                h4 {
                  text-align: left;
                  font-size: 1.2rem;
                  font-weight: 700;
                  white-space: nowrap;
                  margin: 0;
                  line-height: 40px;
                  margin-right: 20px;
                }
                a {
                  font-size: 1.2rem;
                  line-height: 40px;
                  color: black;
                  width: 100%;
                  text-align: left;
                  .LinkOutlined {
                    display: none;
                  }
                  &:hover {
                    color: rgb(134, 132, 132);
                    .LinkOutlined {
                      display: inline-block;
                    }
                  }
                }
              }
              h4 {
                text-align: left;
                font-size: 1.3rem;
                // font-weight: 700;
                white-space: nowrap;
                margin: 0;
                line-height: 50px;
                margin-right: 20px;
                a {
                  color: #000;
                  &:hover {
                    color: rgb(134, 132, 132);
                  }
                }
              }
            }
            margin-bottom: 30px;
          }
          .home_related_paper {
            text-align: justify;
            .home_related_paper_title {
              font-family: PingFang_HEAVY;
            }
            .home_related_paper_content {
              .home_paper_title {
                font-weight: 800;
                font-family: PingFang_HEAVY;
                font-size: 1rem;
                line-height: 1.5rem;
              }
              .home_paper_team {
                font-size: 1rem;
                line-height: 1.5rem;
              }
              .home_paper_link {
                // margin-top: 20px;
                cursor: pointer;
                display: flex;
                width: 300px;
                justify-content: space-between;
                color: rgb(49, 3, 151);
                a {
                  color: rgb(49, 3, 151);
                }
                .link_boder {
                  position: relative;
                  padding: 10px;
                  &::after {
                    content: '';
                    position: absolute;
                  }
                  &::after {
                    border-bottom: 2px solid rgb(49, 3, 151);
                    left: 51%;
                    right: 51%;
                    bottom: 0px;
                    transition: all 0.2s;
                  }
                  &:hover::after {
                    left: 0%;
                    right: 0%;
                  }
                }
                .link_text {
                  padding: 10px 0;
                  color: #666;
                }
                img {
                  width: 100%;
                  height: 20px;
                  margin-right: 10px;
                }
                .paper_icon {
                  width: 17px;
                }
                .lighting_icon {
                  width: 29px;
                }
              }
              margin-bottom: 20px;
            }
            margin-bottom: 30px;
          }
          // .home_code {
          //   .title {
          //     text-align: left;
          //     font-size: 1.5rem;
          //     font-weight: 600;
          //   }
          //   .github_link {
          //     margin-bottom: 8px;
          //     display: flex;
          //     justify-content: left;
          //     a {
          //       font-size: 1.2rem;
          //       color: black;
          //       .LinkOutlined {
          //         display: none;
          //       }
          //       &:hover {
          //         color: rgb(134, 132, 132);
          //         .LinkOutlined {
          //           display: inline-block;
          //         }
          //       }
          //     }
          //   }
          // }
          .home_organizer {
            .home_organizer_title {
              h1 {
                font-family: PingFang_HEAVY;
                font-weight: 700;
              }
            }
            .home_speaker {
              .home_speaker_title {
                h2 {
                  font-family: PingFang_HEAVY;
                  font-weight: 600;
                }
                margin-bottom: 20px;
              }
              .home_speaker_item {
                display: flex;
                .home_speaker_content {
                  width: 75%;
                  height: auto;
                  text-align: justify;
                  font-size: 1rem;
                  line-height: 1.5rem;
                  margin-bottom: 20px;
                  .home_speaker_name {
                    font-size: 1.2rem;
                    font-weight: 800;
                    font-family: PingFang_HEAVY;
                    margin-bottom: 10px;
                  }
                  .home_speaker_topic {
                    margin-bottom: 8px;
                    color: #555;
                    font-size: 0.95rem;
                    font-family: PingFang_HEAVY;
                  }
                }
                .home_speaker_photo {
                  width: 120px;
                  height: auto;
                  margin-right: 20px;
                  .ant-avatar {
                    img {
                      width: 100%;
                      height: 137%;
                    }
                  }
                }
                margin-bottom: 20px;
                border-bottom: 1px solid rgb(240, 240, 240);
              }
            }
            .home_participant {
              .home_participant_title {
                h2 {
                  font-family: PingFang_HEAVY;
                  font-weight: 600;
                }
                margin-bottom: 20px;
              }
              .home_participant_item {
                text-align: left;
                line-height: 40px;
                // display: inline-block;
                font-size: 1.2rem;
                font-weight: 800;
                font-family: PingFang_REGULAR;
              }
            }
            margin-bottom: 30px;
          }
          .home_acknowledgment {
            .home_acknowledgment_title {
              font-family: PingFang_HEAVY;
            }
            .home_acknowledgment_content {
              font-size: 1.2rem;
              font-weight: 700;
              height: auto;
              text-align: left;
              line-height: 30px;
              font-family: PingFang_HEAVY;
            }
            margin-bottom: 40px;
          }
        }
        .home_right {
          width: 10%;
        }
      }
    }
  }
}
